/* 字型設定 */
@font-face {
  font-family: "GenSenRounded";
  src: url("/fonts/GenSenRounded2-EL.ttc");
  font-weight: 100;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("/fonts/GenSenRounded2-L.ttc");
  font-weight: 200;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("/fonts/GenSenRounded2-R.ttc");
  font-weight: 300;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("/fonts/GenSenRounded2-M.ttc");
  font-weight: 400;
}

/* 設置全局樣式，讓所有元素的 box-sizing 為 border-box */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "GenSenRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* 手機版 container */
@media only screen and (max-width: 480px) {
  body {
    justify-content: center;
    align-items: flex-start;
    min-height: auto;
  }
}
